[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pgnotify = "==0.1.1561372201"
kafka-python = "==2.0.1"
postgres = "==3.0.0"
flask-restplus = "==0.13.0"
dependency-injector = "==3.32.1"

[requires]
python_version = "3.8"
